<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">>
<div layout:fragment="content">
    <p>welcome, stray wanderer of the interconnected web.</p>
    <p>this is entropy, it is only increasing.</p>
    <p>you may want to register in order to increase the entropy on the system. <a href="#" th:href="@{/register}">register</a> </p>
    <p>if you already have knowledge of such user data, you can gain deeper access into the system by logging in. <a href="#" th:href="@{/login}">login</a> </p>
</div>
</html>
